<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/estilos.css">
    <title>inicio</title>
</head>
<body id="cuerpo">
    <form action="http://127.0.0.1:8000/nuevasolicitud/" id="form">
        <div class="form">
            <h1>Hacer Consulta</h1>
             <button type="" >Suscribirte</button>
        </div>
    </form>
     <form action="https://web.telegram.org/k/" id="form">
        <div class="form">
            <h2>Consulta Telegram</h2>
             <button type="submit">Suscribirte</button>
        </div>
    </form>
</body>
</html>